:root {
  --header-height: 50px;
  --color-primary: #4096ff;
  --color-bg-content: white;

  --primary: #0076f6;
  --headerHeight: 64px;
}

:root.dark {
  --color-bg-content: #141414;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: transparent;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

.ant-modal-body {
  max-height: 70vh;
  overflow-y: auto;
}

.filter-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 8px !important;
}

.filter-form > * {
  display: flex;
  flex-flow: row wrap;
}

.filter-form > * > *:not(:last-child) {
  margin-right: 16px;
}

.filter-form > * > * {
  margin-bottom: 8px;
}
